
.playlist {
  display: flex;
  flex-direction: column;
  &__title {
    margin: 1rem 0 0.5rem 0;
  }

  &__description {
    font-weight: bold;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }

}
