
.search {
  background: var(--background-lighter);
  border-radius: 25px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding:0 8px;
  color: var(--text-300);
  &:hover{
    background: var(--background-light);
    .icon{
      color: var(--text-primary);
    }
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.3)
    , 0px -1px 1px 0px rgba(255, 255, 255,0.3);

  }
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:focus-within {
    border-color: var(--white);
    background: var(--background-light);
    .icon{
      color: (--text-primary);
    }
  }
  .icon{
    color: var(--text-secondary);
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
  }
  input {
    flex-grow: 1;
    background: transparent;
    font-size: inherit;
    color: var(--text-primary);
    border: none;
    font-weight: 400;
    &::placeholder {
      color: var(--text-secondary)
    }

    &:focus {
      outline: none;
    }
  }
  &:hover{
    background: var(--background-light);
    .icon{
      color: var(--text-primary);
    }
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.3)
    , 0px -1px 1px 0px rgba(255, 255, 255,0.3);

  }
  &:focus-within {
    border-color: var(--white);
    background: var(--background-light);
    .icon{
      color: (--text-primary);
    }
  }
}
@media(max-width: 456px){
  .search{
    width: 20rem;
  }
}