@import '../../styles/vars';
.tabs{

  .container{
    display: flex;
    gap: 12px;
  }
  .tabItem{
    font-family: Roboto, sans-serif;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    color: $text-primary;
    background: $background-lighter;
    transition: background-color 0.3s ease-in-out;
    user-select: none;
    &__item{
      &:hover{
        filter: brightness(0.9);
      }
      &:active{
        filter: brightness(0.8);
      }
    }
    &__active{
      background: $white;
      color: $background-darker;

    }
    &__disabled{
      filter: brightness(0.5);

    }

  }
}