.tabs{
  padding: 8px 0;
  .container{
    display: flex;
    gap: 12px;
  }
  .tabItem{
    padding: 8px 12px;
    border-radius: 20px;
    background: var(--background-lighter);
    transition: background-color 0.3s ease-in-out;
    color: var(--text-100);
    &__item{
      &:hover{
        filter: brightness(0.9);
      }
      &:active{
        filter: brightness(0.8);
      }
    }
    &__active{
      background: var(--white);
      color: var(--background-darker);

    }
    &__disabled{
      filter: brightness(0.5);

    }

  }
}