$scrollbar-bg: #333; // Цвет фона скроллбара
$scrollbar-thumb: #61c86a; // Цвет ползунка;
$scrollbar-transition: 0.3s ease-in-out; // Плавность появления
//todo: slowly appearing
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    background-color: transparent;
    transition: background-color $scrollbar-transition;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0;
    transition: background-color $scrollbar-transition;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
    transition: background-color $scrollbar-transition;
  }

  &:hover {
    &::-webkit-scrollbar {
      background-color: $scrollbar-bg;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb;
    }

    &::-webkit-scrollbar-track {
      background-color: $scrollbar-bg;
    }
  }

  @supports (-moz-appearance: none) {
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    transition: scrollbar-color $scrollbar-transition;

    &:hover {
      scrollbar-color: $scrollbar-thumb $scrollbar-bg;
      scrollbar-width: thin;
    }
  }
}
