$scrollbar-bg: #333; // Цвет фона скроллбара
$scrollbar-thumb: #61c86a; // Цвет ползунка

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    //width: 12px; /* Ширина скроллбара */
    background-color: $scrollbar-bg; /* Цвет фона скроллбара */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb; /* Цвет ползунка */
    border-radius: 0; /* Скругленные края */
    //border: 3px solid $scrollbar-bg; /* Бордер для контраста */
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-bg; /* Цвет трека */
    border-radius: 0; /* Скругление трека */
  }

  &::-webkit-scrollbar-button {
    //background-color: $scrollbar-bg; /* Закрашиваем стрелки в цвет фона */
    //border: none; /* Убираем бордеры (если есть) */
  }
  //
  @supports (-moz-appearance: none) {
    scrollbar-color: $scrollbar-thumb $scrollbar-bg; /* Цвета для Firefox */
    scrollbar-width: thin; /* Узкий скроллбар для Firefox */
  }
}
