:root{
  --color-primary: #61C86A;
  --color-white: #ffffff;
  --color-black: #181414;
  --color-blue: #649AED;
  --color-red: #EB5640;
  --color-mellow: #F6C874;
  --color-whiter: #A7C2D1;
  --color-evergreen: #D5F479;
  --color-prettypink: #F7CFD4;
  --color-pink: #E57BA1;
  --color-yelow: #F4E357;

}