@import 'src/common/styles/scrollbar';


.detailed-actions {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 2rem;

}
.detailed-page-header{
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: flex-end;


  .detailed-page-description{
    flex-grow: 1;
  }
}
.detailed-page-image{
  min-width: 12rem;
  min-height: 12rem;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;

  img {
    width: 100%;
    height: 100%;
  }
}
.detailed-page-table{
  padding: 0 1rem 1rem 1rem;
  overflow-y: scroll;
  @include scrollbar();

  thead {
    tr {
      background: var(--background-darker);
      position: sticky;
      top: 0;
    }
  }

}