@import 'src/common/styles/scrollbar';

.detailed-page{
  //background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, #a5957b 100%);
  //&__header{
  //  background: transparent;
  //
  //}
  background: inherit;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
  @include scrollbar;
  &__actions{
    //background: transparent;
    background: inherit;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 12;
  }
  &__header {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: flex-end;

    .detailed-page-description {
      flex-grow: 1;

    }
    .detailed-page__stats{
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }
  }
  &__content{
    background: inherit;
    //background: rgba(255, 255, 255, 0.1);
    //backdrop-filter: blur(10px);
    //-webkit-backdrop-filter: blur(10px);
    //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Лёгкая тень */
  }
  &__image{
    min-width: 12rem;
    min-height: 12rem;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 60px 0;
    img {
      width: 100%;
      height: 100%;
    }
    &__table{
      padding: 0 1rem 1rem 1rem;

      thead {
        tr {
          background: var(--background-darker);
          position: sticky;
          top: 0;
        }
      }

    }
  }
}