@import 'src/common/styles/scrollbar';

.detailed-page{
  background: inherit;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
  @include scrollbar;
  &__actions{
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 12;
    background: inherit;
  }
  &__header {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-tems: flex-end;

    .detailed-page-description {
      flex-grow: 1;
    }
  }
  &__image{
    min-width: 12rem;
    min-height: 12rem;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;

    img {
      width: 100%;
      height: 100%;
    }
    &__table{
      padding: 0 1rem 1rem 1rem;

      thead {
        tr {
          background: var(--background-darker);
          position: sticky;
          top: 0;
        }
      }

    }
  }
}