@import '../../styles/vars';

.container {
  width: 100%;
  border-collapse: separate;
  border-spacing: 8px;
  thead {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    display: table-header-group;
    tr {
      th {
        text-align: left;

      }
    }
  }

  tbody {
    tr {
      td {
        padding-bottom: 8px;
      }
    }
  }
}