@import '../../styles/vars';

.container {
  display: block;
  table-layout: fixed;
  width: 100%;

  thead {
    background-color: $background-lighter;
    tr {
      th {
        text-align: left;
        padding: 10px; // Adds padding to header cells
      }
    }
  }

  tbody {

    tr {
      td {
        padding: 10px; // Adds padding to body cells
      }
    }
  }
}
