@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin temp-lightning {
  border: 1px solid white;
  border-radius: 15px;
  margin: 0 5px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  grid-template-areas:
        "logo header blank"
        "nav main blank"
        "footer footer footer";

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "header"
            "main"
            "footer";
  }
  header{
    grid-area: header;
    height: 80px;
    background: transparent;
  }

  nav {
    grid-area: nav;
    padding: 1rem;
    border-right: 1px solid #fff; //delete
    background: #1db954;
    @include flex-center; // Применяем миксин для центрирования
    @include temp-lightning;
  }

  main {
    grid-area: main;
    padding: 1rem;
    color: #fff;
    background: #120f0f;
    border: 1px solid white;
    @include temp-lightning;

  }


  footer {
    grid-area: footer;
    background-color: var(--color-black);
    border: 1px solid #fff; //delete
    color: #fff;
    padding: 1rem;
    text-align: center;
    height: 80px; // Высота футера по умолчанию
    @include flex-center;

    @media (max-width: 768px) {
      height: 100px; // Высота футера на мобильных устройствах
    }
  }
}
.header{
  @include flex-center;
  gap: 8px;
}