@import '../styles/vars';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin top-radius($radius) {
    border-radius: $radius $radius 0 0;
}
@mixin paper {
  background: $background-darker;
  @include top-radius(15px);
}
$app-header-footer-height: 80px;

$scrollbar-bg: #333; // Цвет фона скроллбара
$scrollbar-thumb: #61C86A; // Цвет ползунка
.app {
  display: grid;
  grid-template-columns: 1fr 3fr 0.8fr;
  grid-template-rows: $app-header-footer-height 1fr $app-header-footer-height;
  height: 100vh;
  background: $background-dark;
  grid-template-areas:
        "logo header panel"
        "nav main blank"
        "footer footer footer";
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "header panel"
            "main main"
            "footer footer";
    nav{
      display: none;

    }
  }

  header {
    grid-area: header;
    margin: 8px 0;
    background: transparent;
    height: $app-header-footer-height;
  }

  .user-panel {
    grid-area: panel;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    padding: 0 12px;
  }

  nav {
    grid-area: nav;
    padding: 1rem;
    @include paper;
    margin: 0 8px;
  }

  main {
    grid-area: main;
    color: #fff;
    overflow-y: auto;
    background: $background-darker;
    max-height: calc(100vh - #{$app-header-footer-height} * 2);
    @include paper;
    // Стилизация скроллбара для WebKit-браузеров (Chrome, Safari)
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $scrollbar-bg;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb;
      border-radius: 5px;
    }

    // Убираем стрелочки в WebKit-браузерах
    &::-webkit-scrollbar-button {
      display: none; // Скрыть стрелочки
      width: 0;
      visibility: hidden;
    }

    // Стилизация скроллбара для Firefox
    scrollbar-color: $scrollbar-thumb $scrollbar-bg; // Цвет ползунка и фона
    scrollbar-width: thin; // Уменьшенный скроллбар


  }
  footer {
    grid-area: footer;
    background-color: var(--color-black);
    color: #fff;
    padding: 1rem;
    text-align: center;
    height: $app-header-footer-height; // Высота футера по умолчанию
    @include flex-center;
    @media (max-width: 768px) {
      height: 100px; // Высота футера на мобильных устройствах
    }
  }

}

.header {
  @include flex-center;
  gap: 8px;
}

.loader {
  width: 20px;
  margin: 12px auto 0;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: $primary-500;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}