@use '../common/styles/mixins' as mixins;
@import '../common/styles/scrollbar';


$app-footer-height: 80px;

.app {
  //exclude input from user-select:none
  *:not(input) {
    user-select: none;
  }
  display: grid;
  grid-template-columns: auto 1fr 20rem;
  grid-template-rows: auto 1fr $app-footer-height;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: var(--background-dark);
  grid-template-areas:
        "logo header header"
        "navbar main main"
        "footer footer footer";

  .content {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr auto;

    main {
      @include mixins.content-main-paper();
      overflow-y: hidden;
      height: calc(100vh - $app-footer-height - 48px - 16px);
    }

    .sidebar {
      //todo:sidebar mobile version
      width: 20rem;
      display: flex;
      position: relative;
      overflow: hidden;
      margin-left: 0.5rem;

      .sidebar__item {
        @include mixins.content-main-paper;
        width: 100%;
        height: 100%;
        z-index: 6;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
      }
    }
  }


  nav {
    @include mixins.content-main-paper();
    grid-area: navbar;
    margin: 0 8px;
    overflow: hidden;
    max-width: 20rem;
    height: calc(100vh - 80px - 48px - 16px);
  }


  footer {
    grid-area: footer;
    background-color: var(--background-dark);
    height: $app-footer-height;
  }

  @media (max-width: 992px) {
    grid-template-columns: 96px auto auto;
    grid-template-rows: auto;
    grid-template-areas:
            "logo header header"
            "navbar main main"
            "footer footer footer";

  }

  @media (max-width: 456px) {
    grid-template-areas:"header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    nav {
      position: absolute;
      display: none;
    }
    .content{
      padding: 0 1rem;
    }

  }
}



