
.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'current player actions';

  &__current {
    grid-area: current;
  }

  &__player {
    grid-area: player;
  }

  &__actions {
    font-size: 1rem;
    grid-area: actions;
    padding: 0 2rem;
  }
  @media(max-width: 456px){
    grid-template-areas: 'current actions';
    grid-template-columns: auto auto;
    &__player,.player{
      display: none;
    }
  }
}

.current {
  display: flex;
  align-items: center;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  &__actions {

    display: flex;
    gap: 8px;
    justify-content: center;

    button {
      width: 2rem;
      height: 2rem;

      .play {
        margin: 0 8px;
      }

      .active {
        color: var(--primary-500);
      }

    }

    svg {
      font-size: 1rem;
    }

  }

  &__slider {
    width: 100%;

    input {
      width: 100%;
    }
  }

}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;

  &__availableDevices {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .device{
      display: flex;
      align-items: center;
      gap: 4px;

    }
    .active {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--primary-500);
    }
  }
}