@import "../../common/styles/vars.scss";

.footer {
  display: grid;
  grid-template-columns: 20rem 1fr 20rem;
  grid-template-areas: 'current panel actions';

  &__current {
    grid-area: current;
  }

  &__panel {
    grid-area: panel;
  }

  &__actions {
    font-size: 1rem;
  }
}

.current {
  display: flex;
  align-items: center;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  &__actions {

    display: flex;
    gap: 8px;
    justify-content: center;

    button {
      width: 2rem;
      height: 2rem;

      .play {
        margin: 0 8px;
      }

      .active {
        color: var(--primary-500);
      }

    }

    svg {
      font-size: 1rem;
    }

  }

  &__slider {
    width: 100%;

    input {
      width: 100%;
    }
  }

}

.actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  justify-content: center;

  &__availableDevices {
    .device{
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .active {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--primary-500);
    }
  }
}