.all {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .title{
  margin-bottom: 0.5em;
  }

  &__songs {
  }

  &__playlists {
  }

  &__albums {
  }

  &__artists {
  }

}
.songs{
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 12px;
  &__best, &__items {
    display: flex;
    flex-direction: column;
  }
  @media(max-width: 456px){
    display: flex;
    flex-direction: column;

  }

}



