.button{
  position: relative;
  font-size: inherit;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1;
  padding: 8px 16px;
  border-radius: 24px;
  border: none;
  display: block;


  &:disabled{
    opacity: 0.5;
  }
  &:hover{
    filter: brightness(1.1);
  }
  &:active{
    filter: brightness(0.9);
  }
}
.filled{
  background-color: var(--primary-500);
  color: var(--background-dark);
  transition: filter 0.2s ease-in-out;

}
.outlined{
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  transition: scale 0.2s ease-in-out;

  &:hover{
    scale: 1.05;
  }
  &:active{
    scale: 0.98;
    color: var(--text-secondary);
  }
}
.text{
  background-color: transparent;
  border: none;
  color: var(--text-secondary);
  transition: color 0.2s ease-in-out;
  &:hover{
    color: var(--text-primary);
  }
  &:active{
    color: var(--text-secondary);
  }
}

.buttonLink{
  text-decoration: none;
}