@import '../../../styles/vars';


.button{
  font-size: 18px;
  padding: 12px 40px;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  &:active{
    opacity: 0.8;
  }
  &:hover{
    filter: $primary-400;
  }
}
.filled{
  background-color: $primary-500;
  color: $background-dark;
  &:disabled{
    opacity: 0.5;
  }
}
.outlined{
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
}
.text{
  background-color: transparent;
  border: none;
}

.buttonLink{
  text-decoration: none;
}