.menu{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: var(--background-light);
    box-shadow: var(--box-shadow);
    transition: filter 0.2s ease-in-out;
    padding: 0.25rem;
    min-width: 10rem;
    .menu__item{
        transition: background-color 0.2s ease-in-out;
        height: 2.5rem;
        display: flex;
        align-items: center;
        padding: 0 0.5rem 0 0.75rem;
        cursor: default;
        &:hover{
            background: var(--background-100)
        }
    }
    .menu__items{
        overflow: hidden;
        border-radius: 0.25rem;
    }
}