@import '../../styles/vars';

$size: 24px;
$box-size: 42px;
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-secondary;
  width: $box-size;
  height: $box-size;
  border-radius: 50%;
  font-size: $size;
  img{
    width: 65%;
    border-radius: 50%;
  }

  &:active{
   filter: brightness(0.9);
 }
  &:hover {
    transform: scale(1.05); /* Увеличение размера при hover */
    font-size: $size * 1.02;
  }
}

.filled {
  background: $background-lighter;
}

.icon {
  background: transparent; /* No background for icons */
  font-size: $size;
}
