.album {
  display: flex;
  flex-direction: column;
  &__title {
    margin: 1rem 0 2rem 0;
  }
  &__artist {
    .album__artist-image {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  &__table {
    tbody{
      tr{
        height: 4rem
      }
    }
  }
}

