@use "/src/common/styles/scrollbar.scss";

.artist{
  display: flex;
  flex-direction: column;
  background: inherit;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
  @include scrollbar;
  &__header{

  }
  &__image{
    border-radius: 50% !important;
  }
  .title{
    margin: 0 0 1rem 0;
  }
  &__content{

    padding: 1rem;

  }
  &__albums{
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(12rem,auto));
  }
  &__actions{

  }
}
