@import "./utils/reset";
@import './styles/vars.scss';


body {
    button{
        padding-inline: 0;
        padding-block: 0;
    }
    background: #181414;
    *{
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
    }
}
html{
    font-size: 16px;
    color: $text-primary
}