@import "common/styles/reset";
@import 'common/styles/vars';
@import 'common/styles/animations';

body {
    button{
        padding-inline: 0;
        padding-block: 0;
    }
    background: #181414;
    *{
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
    }
}
html{
        font-size: 16px;
        color: var(--text-300);

        @media (max-width: 1200px) {
            font-size: 15px;
        }

        @media (max-width: 992px) {
            font-size: 14px;
        }

        @media (max-width: 768px) {
            font-size: 13px;
        }

        @media (max-width: 576px) {
            font-size: 12px;
        }
}
.loader {
  width: 24px;
  margin: 12px auto 0;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid lightblue;
  border-right-color: var(--primary-500);
  animation: loader 0.75s infinite linear;
}
#portal{
  *{
    z-index: 20;
  }
}