@import '../../common/styles/vars';
@import '../../common/styles/scrollbar';


.library {
  display: flex;
  flex-direction: column;
  padding: 8px 0 8px 8px ;
  gap: 8px;
  height: 100%;
  @media (max-width: 992px) {
    .library {
      padding: 0;
      &__header{
        display: flex;
        justify-content: center;
        .library__actions{
          display: none;
        }
      }
      &__tabs {
        display: none;
      }

      &__items {
        overflow: hidden;
      }
    }
    &__title{
      display: none;
    }
    .library__items{
      .card__details{
        display: none;
      }
      .card--small{
        .card__image{
          max-width: 4rem;
          max-height: 4rem;
        }
      }
    }
  }


  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 900;
    color: var(--text-100);
    transition: color 0.3s ease-in-out;
    padding: 0.5rem 0.75rem;
    .library__actions{
      display: flex;
      gap: 0.5rem;
    }
    .library__logo{
      color: var(--text-300);

    }
  }
  &__tabs {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;

    .tabs__close {
      padding: 8px 12px;
      border-radius: 20px;
      background: var(--background-lighter);
      transition: background-color 0.3s ease-in-out;
      &:hover {
        filter: brightness(0.9);
      }
      &:active {
        filter: brightness(0.8);
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;

    @include scrollbar;
  }
}
