.browse {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 0 16px;
  .tabs {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #121212;
  }

}

.container {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 300px;
  row-gap: 100px;
  overflow: hidden;
}

